.like-button {
  width: em(35);
  height: em(35);
  overflow: hidden;
  position: absolute; //need for icons stack
  top: 0;
  right: 0;
  color: gray; //default color
  cursor: pointer;
  border: none; //clear border
  background-color: #fff; //clear background
  border-radius: 50%;
  & > * {
    fill: #e2264d;
    margin: 0.5rem;
  }
}
