//Variables

//Colors
$textColor: #fff;
$dark-100: #d2d3d3;
$dark-200: #7d7f80;
$dark-300: #555759;
$dark-400: #2d3032;
$accentColor: #9615db;

//Breakpoints
$tablet: 600;
$desktop: 850;
$desktopWide: 1200;
